<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="https://formle.io/static/css/style.css">
    <!-- Render the partial template called `css-$current_template` here -->
    {{ partial "css" }}
  </head>
  <body>
    <div class="topBand"></div>
    <header class="py-5">
      <div class="container text-center">
        <a target="_blank" href="https://formle.io/">
          <img alt="formle logo" src="https://formle.io/img/logo-white.png" width="180px" alt=""><sup class="text-white">Beta</sup>
        </a>
      </div>
    </header>
    <!-- render the partial template called `header-$current_template` here -->
    {{ partial "header" }}
    <!-- Render the current template here -->
    <section>
      <div class="container">
        <div class="bg-white p-5 rounded shadow-sm">
          {{ yield }}
        </div>
      </div>
    </section>
    
    <!-- render the partial template called `footer-$current_template` here -->
    {{ partial "footer" }}
  </body>
</html>